
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
}
.containerLeft h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: blue;
}
.containerRight form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px black solid;
    height: 300px;
    width: 450px;
}
form input{
    padding: 10px;
    width: 90%;
    outline-color: blue;
    font-size: 19px;
    
}

form button{
    width: 90%;
    text-align: center;
    background: #0866ff;
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}
form a{
    text-align: center;
    color: blue;
    text-decoration: none;
}
form #signup{
    background: green;
}